<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        {% block content %}
        <h1>Home Page</h1>
        <p>Hello, {{ name }}, welcome to our faculty hat quiz website!</p>
        {% endblock %}
    </div>
    <form action="/register" method="GET">
        <button type="submit">Register</button>
    </form>
    <form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>
</body>
<script 
    type="text/javascript" 
    src="{{ url_for('static', filename='index.js') }}"
></script>
</html>
