<!DOCTYPE html>
<html>
  <head>
    <title>Quiz 4</title>
  </head>
  <body>
    <h3>Famous Person</h3>
    <form id="quiz-form" method="post">
      <ul>
        <li>
          <input type="radio" name="answer" value="FOM" />
          <label>Steve Jobs</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCM" />
          <label>Steven Spielberg</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FAC" />
          <label>Martin Luther King</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCA" />
          <label>Leonardo da Vinci</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCI" />
          <label>Mark Zuckerberg</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FOE" />
          <label>Nikola Tesla</label>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
    <div id="result">{{ result }}</div>
  </body>
</html>
