<!DOCTYPE html>
<html>
  <head>
    <title>Quiz 3</title>
  </head>
  <body>
    <h3>Movie Genre:</h3>
    <form id="quiz-form" method="post">
      <ul>
        <li>
          <input type="radio" name="answer" value="FOM" />
          <label>Crime</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCM" />
          <label>Sci-fi</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FAC" />
          <label>Thriller</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCA" />
          <label>Biopic</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCI" />
          <label>Heist</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FOE" />
          <label>Survival</label>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
    <div id="result">{{ result }}</div>
  </body>
</html>
