<!DOCTYPE html>
<html>
  <head>
    <title>Quiz 2</title>
  </head>
  <body>
    <h3>Favourite Social Media:</h3>
    <form id="quiz-form" method="post">
      <ul>
        <li>
          <input type="radio" name="answer" value="FOM" />
          <label>LinkedIn</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCM" />
          <label>TikTok</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FAC" />
          <label>YouTube</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCA" />
          <label>Pinterest</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCI" />
          <label>Reddit</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FOE" />
          <label>Twitter</label>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
    <div id="result">{{ result }}</div>
  </body>
</html>
