<!DOCTYPE html>
<html>
  <head>
    <title>Quiz 1</title>
  </head>
  <body>
    <h3>What is your favourite movie?</h3>
    <form id="quiz-form" method="post">
      <ul>
        <li>
          <input type="radio" name="answer" value="FOM" />
          <label>The Big Short (2015)</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCM" />
          <label>Blade Runner 2049 (2017)</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FAC" />
          <label>Steve Jobs (2015)</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCA" />
          <label>Dune : Part Two (2024)</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FCI" />
          <label>The Social Network (2010)</label>
        </li>
        <li>
          <input type="radio" name="answer" value="FOE" />
          <label>Iron Man (2008)</label>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
    <div id="result">{{ result }}</div>
  </body>
</html>
